<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/KorbinVanetteDev/GoodSoil/refs/heads/main/static/Logo.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <div class="auth">
        <div class="login-form-body">
            <div class="login-form-heading">
                <br>
            </div>
            <div class="login-form-form">
                <h2>Change Password</h2>
                <form action="{{ url_for('change_password') }}" method="POST">
                    <input type="password" class="login-form-input" placeholder="Current Password" name="oldpassword" required>
                    <input type="password" class="login-form-input" placeholder="New Password" name="newpassword" required>
                    <input type="password" class="login-form-input" placeholder="Confirm New Password" name="newpasswordagain" required>
                    <button class="login-form-button">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>